<div class="container">
  <header>
    <h1>Sending tweets automatically</h1>
  </header>

  <section>
    <h2>Tweet</h2>

    <p class="details">NECESITAS ESPERAR...</p>

    <div id="counter"></div>

  </section>

</div>
