  <section id="main">
    <header>
    	<h1>Sending tweets automatically</h1>
  	</header>
		<div class="container">
			<h2>Tweet</h2>
			<p id="tweet"></p>
			<p class="details">NECESITAS ESPERAR...</p>
			<div id="counter"></div>

			<footer>
				<a href="http://www.twitter.com/Rojke34" target="_blank">Copyright- @Rojke34 - 2015</a>
			</footer>
		</div>
  </section>

  <section id="config">
  	<h2>crear </h2>
  	<h2>eliminar</h2>
  	<h2>Modificar</h2>
  </section>

