<!DOCTYPE html>
<html>
<head>
  <title>TwitterApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<a href="http://www.twitter.com/Rojke34" target="_blank">Copyright- @Rojke34 - 2015</a>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
